body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    flex: none;
}

.skip {
    color: #FBA24F;
}

.order-food {
    border: none;
    border-radius: 10px;
    padding: 10px;
    /* background-color: #FBA24F; */
    background-image: linear-gradient(#fba24fac, #d22e12);
    text-decoration: none;

}

.section {
    display: flex;
    justify-content: space-between;

}

.first-section-div {
    width: 50%;
    padding: 10px;
}

.img-container {
    display: flex;
    /* justify-content: flex-end; */
    position: static;
    background-image: url(./images/shapes/Group\ 8450.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.first-img {
    height: 100%;

    /* padding-top: 0;

    padding-bottom: 10px; */
    /* display: flex;
    justify-content: flex-end; */
    /* background-image: url(./images/shapes/Group\ 8450.png); */
}

.sec2a {
    padding: 3%;
}

.sec2 p {
    text-align: justify;
}

.sec2 {
    background-color: rgba(252, 143, 73, 0.1);
}