body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'PT Sans', sans-serif;
}

.section {
    display: flex;
    justify-content: space-between;
}

.first-section-div {
    width: 50%;
    padding: 10px;

}

.img-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.first-img {
    height: 100%;
    position: absolute;
    object-fit: cover;
    /* display: flex;
    justify-content: flex-end; */
}

.skip {
    color: #FBA24F;
}

h1 {
    font-size: 60px;
}